@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
        margin: auto;
        padding: auto;
        gap: 10px
        align-items: center;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px
    }
    .nav-title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bannar-container{
        flex-direction: column;
        justify-content: center;
    }
    .content-title {
        font-size: 35px;

    }
    .content-describsion{
        color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    margin: 10px;
    }
    .primery-btn-b{
        visibility: hidden;
        margin: 0;
    }
    .popular-section{
        flex-direction: column;
        padding-top: 50px;
        
    }
    /* Destination respo */
    .des-describsion{
        margin: 20px;
        padding: 10px;
    }
    .des-title{
        font-size: 30px;
    font-weight: 800;
    }
    /* gallery repo */
    .img-container{
        display:block;
        padding: 20px;
        margin: 10px 40px;
    }
    /* choose respo */
    .Choose-describsion{
        width: 100%;
        margin: 10px, 150px;
        padding: 5px;
    }
    .cart-container, .cart-part {
        flex-direction: column;
        align-items: center;
    }
    /* news latter respo */
    .newsletter-container{
        flex-direction: column;
        margin: auto;
        margin-top: 20px;
    }
    .Newsletter-part {
        border: 2px solid tomato;
        border-radius: 5px;
        max-height: 480px;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;}
.Newsletter-img-part {
    width: 98%;
    padding: 5px 5px;
}
}