@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;700;800&family=Sora:wght@100;200;300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sora', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

/* nav style */
.nav-container {
    max-width: 1450px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title {
    width: 50%;
    font-size: 22px;
    font-weight: 800;
}

.nav-menu {
    width: 50%;
    font-size: 1rem;
}

.lets {
    color: #131318;
}

.fly {
    color: #FF5400;
}

.nav-menu {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

/* bannar secsion */
.bannar-container {
    border-radius: 10px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    max-width: 1450px;
    min-height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bannar-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 800;
}

.content-describsion {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 15px;
}

.find-container {
    margin: 20px;
    padding: 20px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.Where,
.When,
.Select {
    color: #FFF;
    margin: 15px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 700;
}

#primery-btn {
    color: #FFF;
    background: #FF5400;
    font-weight: 700;
    margin: 18px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 154px;
    height: 42px;
}

/* the popular section style */
.popular-section {
    max-width: 1450px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.popular-container {
    width: 50%;
}

.img-sector {
    width: 50%;
}

.img-sector img {
    width: 100%;
    object-fit: cover;
}

.Popular-title {
    color: #131318;
    text-align: center;
    font-size: 45px;
    padding: 10px;
    margin: 20px;
    font-weight: 800;
}

.popular-describsion,
.popular-item {
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 10px;
    padding: 18px;
    gap: 10px;
}

/* Destination stayle */
.Destination-container {
    max-width: 1450px;
    min-height: 200px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.des-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.des-describsion {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
