@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;700;800&family=Sora:wght@100;200;300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sora', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

/* nav style */
.nav-container {
    max-width: 1450px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title {
    width: 50%;
    font-size: 22px;
    font-weight: 800;
}

.nav-menu {
    width: 50%;
    font-size: 1rem;
}

.lets {
    color: #131318;
}

.fly {
    color: #FF5400;
}

.nav-menu {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

/* bannar secsion */
.bannar-container {
    border-radius: 10px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    max-width: 1450px;
    min-height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bannar-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 800;
}

.content-describsion {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 15px;
}

.find-container {
    margin: 20px;
    padding: 20px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.Where,
.When,
.Select {
    color: #FFF;
    margin: 15px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 700;
}

#primery-btn {
    color: #FFF;
    background: #FF5400;
    font-weight: 700;
    margin: 18px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 154px;
    height: 42px;
}

/* the popular section style */
.popular-section {
    max-width: 1450px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.popular-container {
    width: 50%;
}

.img-sector {
    width: 50%;
}

.img-sector img {
    width: 100%;
    object-fit: cover;
}

.Popular-title {
    color: #131318;
    text-align: center;
    font-size: 45px;
    padding: 10px;
    margin: 20px;
    font-weight: 800;
}

.popular-describsion,
.popular-item {
    color: rgba(19, 19, 24, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 15px 10px;
    padding: 18px;
    gap: 10px;
}

/* Destination stayle */
.Destination-container {
    max-width: 1450px;
    min-height: 200px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.des-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.des-describsion {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* gallery section */
.section-container {
    max-width: 1450px;
    gap: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    object-fit: cover;
}

.img-container img {
    width: 98%;
    height: 98%;
    border-radius: 15px;
}

.galary-item-1 {
    grid-column: 1/span 6;
    /* grid-row: 1/span 1; */
}

.galary-item-2 {
    grid-column: 7/span 6;
    /* grid-row: 1/span 1; */
}

.galary-item-3 {
    grid-column: 1/span 3;
    /* grid-row: 2/span 2; */
}

.galary-item-4 {
    grid-column: 4/span 7;
    /* grid-row: 2/span 2; */
}

.galary-item-5 {
    grid-column: 11/span 2;

}

.galary-item-6 {
    grid-column: 1/span 4;
}

.galary-item-7 {
    grid-column: 5/span 8;
}

/* chose and cart section */
.cart-container {
    border: 5px solid rgb(211, 247, 8);
    max-width: 1450px;
    min-height: 500px;
    margin: 0 auto;
    display: grid;
}


.Choose-container {
    max-width: 1450px;
    margin: 80px auto;
    text-align: center;
}


.Choose-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.Choose-describsion {
    width: 650px;
    margin: auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}

.cart-part {
    border: solid #058d42;
    width: 100%;
    display: flex;
}

.hotel,
.map,
.price-cart {
    border: solid #FF5400;
}

.hotel {
    width: 400px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.map {
    width: 400px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price-cart {
    width: 400px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}

/* .price-cart-container{
    display: block;

} */
/* <!-- newsletter section style --> */
.newsletter-container {
    max-width: 1450px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.Newsletter-part {
    border: 2px solid tomato;
    border-radius: 5px;
    max-height: 480px;
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.News-title {
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.News-des {
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 15px auto;
}

.Newsletter-img-part {
    width: 50%;
}

.Newsletter-img-part img {
    width: 100%;
    object-fit: cover;
    min-height: 480px;
    border-radius: 10px;
}

.input-item {
    padding: 15px 250px 15px 20px;
}

.primery-btn-c {
    padding: 15px 250px 15px 20px;
    border-radius: 8px;
    background: #FF5400;
}

#Saveup {
    color: #ffffff border-radius: 16px;
    background: #FF5400;
    width: 280px;
    position: relative;
    bottom: 90px;
}

#Saveup p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

#Saveup h2 {
    font-size: 24px;
    color: #FFF;
    padding: 20px;
    margin-top: 0;
    width: 280px;
}

/* footer section */
.footer-part {
    max-width: 100%;
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
}

.footer-title {
    margin-top: 180px;
    font-size: 40px;
    font-weight: 800;

}

.footer-des {
    margin: 20px auto;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.fa-brands {
    font-size: 30px;
    width: 100.220px;
    height: 30px;
    margin-top: 10px;
}
.hr-line{
    margin-top: 50px;
}
#copy-right{
    margin-top: 60px;
    color: #131318;
font-size: 22px;
font-weight: 300;
}
